@if (load) {
  <app-wait></app-wait>
}
@else if (products.length===0) {
  <div class="yet">
    <p class="text-danger">You haven't bought yet.</p>
  </div>
}
@else {
<div class="container p-lg-5">
  <div class="products row gap-3 ">
    @for (product of products; track $index) {
      <div class="card ">
        <div class="trash">
          <span (click)="isdelete(product.purchId)" style="cursor: pointer;"><i class="fa-solid fa-trash"></i></span>
        </div>
        <a [routerLink]="['/details', product.productId]" [queryParams]="{ path: '/purchases'}">
          <div class="image">
            <img [src]="product.image" height="200px">
          </div>
          <div class="text p-2">
            <h5>{{product.title}}</h5>

          </div>
        </a>
        <div>
          <p class="text-center " style="font-size: 20px;">Count : {{product.quantity}}</p>

        <div class="star text-center">
          @for (star of [1,2,3,4,5]; track $index) {
            @if (product.rate >= star) {
              <span (click)="rate(star,product)">
                <i class="fa-solid fa-star" style="color: #FFD43B;font-size: 25px;"></i>
              </span>
            }
            @else {
              <span (click)="rate(star,product)">
                <i class="fa-regular fa-star" style="font-size: 25px;"></i>
              </span>
            }
          }
        </div>

      </div>
      </div>
    }
  </div>
</div>
@if (isDelete) {
  <div class="back"  (click)="cancel()"></div>
  <div class="delete" [class.hidden]="!isDelete">
    <p>You want delete this product?</p>
    <div>
      <button class="btn btn-danger" (click)="delete()">Delete</button>
      <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
  </div>
}

}
