<div class="container">
  <form class="reg " [formGroup]="acountForm">
    <div class="img">
      <div  (click)="cancel()" class="text-light" [style.display]="!image?'none':'block'"><i class="fa-solid fa-xmark"></i></div>
      <img [src]="imageUrl" alt="">
      <input id="fileInput" class="sp" type="file" formControlName="image" (change)="onFileSelected($event)" accept="image/*">
      <label for="fileInput" class="upload" >
        <i class="fa-solid fa-camera"></i>
      </label>
    </div>
    <div formGroupName="name" class="name row w-100 gap-lg-1">
      <input class="col" type="text" formControlName="fName" placeholder="Frist Name">
      <input class="col" type="text" formControlName="lName" placeholder="Last Name">
    </div>
    <input type="text" formControlName="phone" placeholder="Phone">
    <input type="number" formControlName="age" placeholder="Age">
    <input type="email" formControlName="email" placeholder="Email" >
    <input type="password" formControlName="password" placeholder="Password">
    <button class="btn btn-success w-100" (click)="register()" [disabled]="!acountForm.valid">Sign Up</button>
    @if (hid) {
      <p>error!</p>
    }

  </form>
</div>
