@if (load) {
  <app-wait></app-wait>
}
@else {
<div class="container">
  <div class="cont p-5">
    <form class="row justfiy-content-between" [formGroup]="dataForm">
      <div class="col col-lg-3">
        <label for="from">From  </label>
        <input id="from" type="date" formControlName="from" class="w-100" (change)="view()">
      </div>
      <div class="col col-lg-3 " >
        <label for="to">To  </label>
        <input id="to" type="date" formControlName="to" class="w-100" (change)="view()">
      </div>

    </form>

    <div class="data" style="width: 100%;">

      <div class="head row">
        <div class="col col-2">Num</div>
        <div class="col col-2">Name</div>
        <div class="col col-3">Date</div>
        <div class="col col-2">Quantity</div>
        <div class="col col-3"></div>
      </div>
      <div class="body">
        @for (order of viewItems; track $index) {
          <div class="order row" [style]="$index%2===0?'background-color:#999':'background-color:white'">
            <div class="col col-lg-2 text-center"> <span class="small">Num : </span> {{$index + 1}}</div>
            <div class="col col-lg-2" (click)="pro($index)" style="cursor: pointer;"> <span class="small">Name : </span> {{order.userName}}</div>
            <div class="col col-lg-3"> <span class="small">Date : </span> {{order.date}}</div>
            <div class="col col-lg-2"> <span class="small">Quantity : </span> {{order.quantity}}</div>
            <div class="col col-lg-3 row gap-1 m-0 ">
              <div class="col-12 col-lg-5  p-0"><button class="btn btn-primary w-100" (click)="details(order)">details</button></div>
              <div class="col-12 col-lg-5  p-0"><button class="btn btn-success w-100" (click)="done(order)">done</button></div>
            </div>
          </div>


        }
      </div>

    </div>
  </div>
  <div class="back" [class.hidden]="hidden" (click)="cancel()"></div>
  <div class="details" [class.hidden]="hidden">
    <div class="d-flex justify-content-between w-100">
      <h2>Details Order</h2>
      <h3 class="text-danger" (click)="cancel()" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></h3>
    </div>
    <div  style="width: 100%;">
      <div class="row head">
        <div class="col col-3"></div>
        <div class="col col-3">Title</div>
        <div class="col col-2">Price</div>
        <div class="col col-2">Quantity</div>
        <div class="col col-2 text-center">Total</div>
      </div>
      <!-- <form > -->
        <div class="body">
          @for (item of detailsOrders; track $index ) {
            <div class="row align-items-center p-3"  [style.backgroundColor]="$index % 2==0 ? '#dbd9d9' : 'white'" >
              <div class="col col-3"><div style="border-radius: 50%;"><img style="border-radius: 50%;" [src]="item.item.image" alt="" width="100px" height="100px"></div></div>
              <div class="col col-3"><p> <span class="small">Title : </span> {{item.item.title}}</p></div>
              <div class="col col-2"> <span class="small">Price : </span> {{(item.item.price).toFixed(3)}} L.E</div>
              <div class="col col-2"> <span class="small">Quantity : </span> {{item.quantity}}</div>
              <div class="col col-2"><p class="text-center"> <span class="small">Totale : </span> {{total(item)}} L.E</p></div>

            </div>
          }
        </div>
      <!-- </form> -->
    </div>

  </div>
  <div class="back" [class.hidden]="profile" (click)="cancel()"></div>
  <div class="profile" [class.hidden]="profile">
    <div class="d-flex justify-content-between w-100">
      <h2>Profile</h2>
      <h3 class="text-danger" (click)="cancel()" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></h3>
    </div>
    <div style="width: 100%;">
      <div class="row head">
        <div class="col col-3"></div>
        <div class="col col-2">Name</div>
        <div class="col col-5">Email</div>
        <div class="col col-2">Phone</div>
      </div>
      <div class="body row align-items-center p-3"   >
        <div class="col col-3 image" ><img style="border-radius: 50%;" [src]="user.image" alt="" width="100px" height="100px"></div>
        <div class="col col-2">{{user.name?.fName +' '+ user.name?.lName}}</div>
        <div class="col col-5">{{user.email}}</div>
        <div class="col col-2">{{user.phone}}</div>
      </div>

    </div>

  </div>
</div>
}
